table, .mat-paginator {
    width: 100%;
  }

.mat-column-title, .mat-column-author, .mat-column-publication-date{
  width: 20%;
}

.mat-column-title, .mat-column-author, .mat-column-publication-date, .mat-column-genres{
  text-align: center;
}

.mat-display-2{
    color: #916b46;
}

@media screen and (max-width: 1200px){


    .mat-table {
        display: block;
        width: 100%;
        overflow-x: auto;
      }

      .table-container{
        width: 90vw !important; 
      }

      .table-column{
        min-width: 200px !important;
      }

      .mat-paginator{
          width: 100%;
      }

}

