<div class="margin">
    <div class="mat-display-3 primary-color nexa-bold-font">My Bookshelf</div>

    <div *ngIf="isEmpty" class="margin-right-left" fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="center center">
        <div fxLayoutAlign="center center" class="mat-display-2 nexa-font">Your Bookshelf is currently empty, add new books to view them here.</div>
        <img src="/assets/images/cactusShelf.png">
    </div>


<div  *ngIf="!isEmpty" fxLayout="column" fxLayoutAlign="center center" class="table-container mat-elevation-z8">

    <table mat-table [dataSource]="dataSource">
  
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index">{{i+1}} </td>
        </ng-container>
      
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="table-column"> Title </th>
          <td mat-cell *matCellDef="let element" class="table-column"> {{element.title}} </td>
        </ng-container>
      
        <!-- Author Column -->
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef class="table-column"> Author </th>
          <td mat-cell *matCellDef="let element" class="table-column"> {{element.author}} </td>
        </ng-container>
      
        <!-- Publication Date Column -->
        <ng-container matColumnDef="publication date">
          <th mat-header-cell *matHeaderCellDef class="table-column"> Publication Date </th>
          <td mat-cell *matCellDef="let element" class="table-column"> {{element.publication_date.toDate() | date}} </td>
        </ng-container>

        <!-- Genres Column -->
        <ng-container matColumnDef="genres">
            <th mat-header-cell *matHeaderCellDef class="table-column"> Genres </th>
            <td  mat-cell *matCellDef="let element" class="table-column">
              <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5px grid">

              <mat-chip-list *ngFor="let genre of element.genres; let i =index">
                <mat-chip selected [color]="color(i)">{{genre}}</mat-chip>
              </mat-chip-list>
            </div>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      >
</mat-paginator>
</div>

</div>
